 {% extends 'base.html' %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block content %}
<center>
<form method="post" class="form">

{{ form.hidden_tag() }}
{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
	<p>{{ field.label() }} 
	{% if field.errors %}
		{{ field(class="invalid") }}
	<span class="invalid-feedback">
		{% for e in field.errors %}
		{{ e }}
		{% endfor %}
	</span>
	{% else %}
		{{ field() }}
	{% endif %}
{% endfor %}
<p>{{ form.submit() }}
</form>
	</center>
{% endblock %}